/**
 * @package  Styling for Beautiful Web Type Combinations 0
 * @author   Frank Bültge <frank@bueltge.de>
 * @since    0.0.1
 * @version  0.0.1
 *
 * @description Fonts Abril Fatface and Average
 */

.sample#intro {
    background: #fff;
    color: #333;
    margin: 0 auto;
    width: 100%;
    padding: 125px 0 250px 0;
    text-align: justify;
}
.sample#intro hgroup, .sample#intro section {
    max-width: 900px;
    margin: 0 auto;
}
.sample#intro h1, .sample#intro h2 {
    text-align: center;
    font: 400 64px/1.3 'Abril Fatface', Georgia, serif;
}
.sample#intro h1 span.la {
    font-size: 90px;
}
.sample#intro h2, .sample#intro p {
    font: 400 23px/1.6 'Average', Garamond, Georgia, serif;
}

.sample#intro p {
    margin: 30px 0;
    font-size: 17px;
}

a {
    text-decoration: underline;
}